<!document html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title> This is About page</title>
</head>
<body>
	<section >
		<div class="container text-center">
			<div class="card">
				<div class="card-body">
					<div class="container text-center mt-2">
						<img src="" style="height: 20%; width:50%; " class="main_pic "
							 th:src="@{'/img/mainpic.png'}"/>
					</div>
					<h1 class="text-center font-italic mt-2">Start Adding your contact on cloud ...</h1>
					<a th:href="@{/user/add-contact}" class="btn bg-primary btn-block text-light mt-3">Add new contact</a>
				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(()=>{
				$(".item").removeClass("active");	
				$("#home-link").removeClass("active");	
			});
			
		</script>
		
	</section>
</body>
</html>